
.WeatherCardWrapper {
    padding: 30px;
}

.WeatherCardImage {
    height: auto;
    width: 120px;
}

.WeatherCardImage svg {
    height: auto;
    width: 100%;
}

.WeatherCardContent {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.WeatherCardDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}