* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: rgb(77, 155, 192);
  color: azure;
}

body h1 {
  padding-bottom: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  padding: 20px 50px;
}

header nav {
  display: flex;
  font-size: 25px;
  gap: 20px;
  justify-content: flex-end;
  padding: 10px 20px;
}

main {
  padding: 40px 70px;
}


